@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 900px;
  padding: 1em 1em 3.5em;
  margin: 0 auto;
  text-align: center;
}

kbd {
  display: inline-block;
  color: black;
  background-color:white;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1em;
  padding: 2px 4px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0 1px 1px darkslategrey, 0 -1px lightgray inset;
}

img {
  min-width: 0;
  max-width: 200px;
  height: auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.btn {
  padding: 0.5em;
  border: 2px solid currentColor;
  width: max-content;
  cursor: pointer;
  transition: 100ms ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn--white,
.btn--black:hover,
.btn.btn--black-kbd {
  color: black;
  background-color: white;
}

.btn--black,
.btn--white:hover,
.btn.btn--white-kbd {
  color: white;
  background-color: black;
}

.header {
  font-size: 1.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px plum;
}

.rules {
  color: aquamarine;
  background-color: transparent;
  font-size: 0.9em;
  padding: 0.3em;
  border: 1px dashed currentColor;
  border-radius: 4px;
  margin-bottom: 1em;
  cursor: pointer;
}

.rules:active {
  border-color: plum;
}

.rules:focus {
  outline: none;
}

.settings {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  font-size: 0.9em;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle + label::before {
  content: '';
  background-color: lightsteelblue;
  border-radius: 16px;
  margin-right: 0.3em;
  width: 3.5em;
  height: 1.2em;
  transition: 200ms ease-in-out;
}

.toggle + label::after {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\2715';
  color: gray;
  background-color: white;
  font-size: 0.875em;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  transition: 200ms ease-in-out;
}

.toggle:checked + label::before {
  background-color: lightskyblue;
}

.toggle:checked + label::after {
  left: 2.25em;
  content: '\2713';
  color: white;
  background-color: cornflowerblue;
}

.score {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  font-size: 1em;
  margin: 1em 0;
}

.score__player,
.score__computer {
  width: 8em;
  padding: 0.5em;
  border: 1px solid currentColor;
  border-radius: 4px;
  box-shadow: 10px 10px 20px -10px plum;
  overflow: hidden;
}

.score__label {
  color: black;
  background-color: lightskyblue;
  padding: 0.2em;
  border-radius: inherit;
}

.score__counter {
  color: lightskyblue;
  font-size: 1.5em;
  margin-top: 0.3em;
}

.welcome,
.main {
  background-color: hsla(230, 50%, 65%, 0.3);
  font-size: 1em;
  padding: 1em;
  border: 2px solid white;
  border-radius: 16px;
  margin: 1.5em auto;
  box-shadow: 20px 20px 20px -10px plum;
  overflow: hidden;
}

.welcome {
  max-width: max-content;
}

.welcome__subtitle {
  color: aquamarine;
  font-size: inherit;
  margin-top: 1em;
  text-decoration: underline;
}

.welcome__list {
  margin-bottom: 1em;
  list-style-type: none;
}

.welcome__list:first-of-type li:first-child {
  color: lightskyblue;
}

.welcome__img {
  display: block;
  margin: 0 auto 1em;
}

.main {
  display: flex;
  align-items: center;
}

.main__container {
  width: 100%;
}

.main__text {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 1.2em;
}

.main__text--large {
  font-size: 1.75em;
  line-height: 1.75em;
  margin: 0;
}

.main__text:empty::before {
  content: '\200b';
}

.weapons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.weapons__btn {
  cursor: pointer;
}

.weapons__btn:nth-of-type(2){
  margin-left: 1em;
}

.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.results > img {
  width: 33%;
}

.results__computer {
  transform: scaleX(-1);
}

table {
  font-size: 0.9em;
  border: 1px solid white;
  border-radius: 4px;
  border-spacing: 0;
  margin: 2em auto 0;
  width: 100%;
}

thead {
  color: black;
  background-color: lightskyblue;
  font-size: 1.1em;
}

th {
  font-weight: inherit;
}

th:first-child {
  width: 10%;
}

th:not(:first-child) {
  width: 30%;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

tr:nth-child(even) {
  background-color: hsla(300, 65%, 90%, 0.3);
}

tbody tr:hover {
  background-color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  background-color: lightskyblue;
  font-size: 0.9em;
  padding: 8px 0;
  width: 100%;
}

.footer__link {
  color: inherit;
  text-decoration: underline;
}

.footer__link:hover {
  color: cornflowerblue;
}

.hide {
  display: none;
}

.fade-in {
  animation: fade-in 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scale-up {
  animation: scale-up 200ms;
}

@keyframes scale-up {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.shake {
  animation: shake 200ms;
}

@keyframes shake {
  0%,
  40% {
    rotate: 2deg;
  }

  20%,
  80% {
    rotate: -2deg;
  }

  100% {
    rotate: 0;
  }
}

.slide-up {
  animation: slide-up 300ms;
}

@keyframes slide-up {
  0%,
  60% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.zoom-out {
  will-change: transform;
  animation: zoom-out 500ms;
}

@keyframes zoom-out {
  0% {
    transform: scale(3);
    opacity: 0;
  }

  50% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (pointer: fine) {
  .weapons__btn {
    transition: all 200ms;
  }

  .weapons__btn:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {  
  body {
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {  
  body {
    font-size: 0.85rem;
  }
}

@media (max-width: 320px) {  
  body {
    font-size: 0.75rem;
  }
}