@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

:root {
  --purple-pink: #d6a6e5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  min-height: 100%;
  max-width: 900px;
}

img {
  max-width: 200px;
  max-height: 200px;
  -webkit-tap-highlight-color: transparent;
}

.header {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 5px var(--purple-pink);
}

.rules {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color:aquamarine;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 0.3rem;
  border: 1px dashed currentColor;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

.rules:hover {
  color: var(--purple-pink);
}

.score {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.score__player,
.score__computer {
  width: 8rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 10px 10px 20px -10px var(--purple-pink);
  text-align: center;
}

.score__player-label,
.score__computer-label {
  color: black;
  background-color: lightskyblue;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 4px;
}

.score__player-counter,
.score__computer-counter {
  color: lightskyblue;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.settings {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.toggle + label::before {
  content: '';
  width: 2.8rem;
  height: 1rem;
  background-color:lightsteelblue;
  border-radius: 1rem;
  margin-right: 0.25rem;
  transition: 200ms ease-in-out;
}

.toggle + label::after {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\2715';
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0.75rem;
  color: gray;
  background-color: aliceblue;
  border-radius: 1rem;
  transition: 200ms ease-in-out;
}

.toggle:checked + label::before {
  background-color:lightskyblue;
}

.toggle:checked + label::after {
  content: '\2713';
  left: 1.4rem;
  background-color: aliceblue;
}

.welcome,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 146, 212, 0.3);
  padding: 1rem;
  border: 2px solid white;
  border-radius: 16px;
  margin: 1.5rem auto;
  box-shadow: 20px 20px 20px -10px var(--purple-pink);
  overflow: hidden;
}

.welcome {
  max-width: max-content;
}

.main__text {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.main__text--large {
  font-size: 2rem;
}

.main__text:empty::before {
  content: '\200b';
}

.main__text--default::before {
  content: 'Choose your weapon';
}

.welcome__subtitle {
  font-size: 1rem;
  text-decoration: underline;
  color:aquamarine;
  margin-top: 1rem;
}

.welcome__list {
  list-style-type: none;
  margin-bottom: 1rem;
}

.welcome__list:first-of-type li:first-child {
  color: lightskyblue;
}

.welcome__img {
  display: block;
  margin: 0 auto;
}

.welcome button {
  align-self: center;
}

kbd {
  display: inline-block;
  color: black;
  background-color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 4px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}

.weapons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.weapons__btn {
  cursor: pointer;
  transition: all 200ms;
}

.weapons__btn:hover,
.weapons__btn--kbd {
  scale: 1.1;
}

.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results__computer {
  transform: scaleX(-1);
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn--white,
.btn--black:hover,
.btn.btn--black-kbd {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.btn--black,
.btn--white:hover,
.btn.btn--white-kbd {
  color: white;
  background-color: black;
  border: 2px solid white;
}

table {
  font-size: 0.9rem;
  border: 1px solid white;
  border-spacing: 0;
  border-radius: 4px;
  margin: 2rem auto 0;
  width: 100%;
}

thead,
tbody,
th,
tr,
td {
  display: block;
}

tr::after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead {
  color: black;
  background-color: lightskyblue;
  font-size: 1rem;
}

tbody td, thead th {
  width: 25%;
  float: left;
}

thead:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

tr:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

tr:nth-child(even) {
  background-color:rgba(248, 219, 248, 0.315);
}

tbody tr:hover {
  background-color: black;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  background-color: lightskyblue;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}

.footer__link {
  color: inherit;
  text-decoration: underline;
}

.footer__link:hover {
  color:cornflowerblue;
}

.hide {
  display: none;
}

.fade-in {
  animation: fade-in 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shake {
  animation: shake 100ms;
}

@keyframes shake {
  0%,
  50% {
    rotate: 2deg;
  }
  25%,
  100% {
    rotate: -2deg;
  }
}

.slide-up {
  animation: slide-up 800ms;
}

@keyframes slide-up {
  0%,
  60% {
    transform: translateY(100%);
    opacity: 0;
  }

  70%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.zoom-out {
  will-change: transform;
  animation: zoom-out 300ms ease-in;
}

@keyframes zoom-out {
  0% {
    transform: scale(3);
    opacity: 0;
  }

  50% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
